<div class="loadview flex flex-center p2">
	<div class="mx-auto">
		<h1>NewsCred Reader</h1>
		<div class="logo__ibm mx-auto">
			<img src="<%= asset_path('logo-ibm.png') %>" alt="ibm logo" />
		</div>
		<h2 style="text-align:center;"><a href="/">Let's Get Started</a></h2>
	</div>
</div>