<!-- LoadView -->
<!-- <div class="loadview flex flex-center p2">
	<div class="mx-auto">
		<h1>NewsCred Reader</h1>
		<div class="logo__ibm mx-auto">
			<img src="<%= asset_path('logo-ibm.png') %>" alt="ibm logo" />
		</div>
	</div>
</div> -->

<!-- FeedView -->
<div class="feed flex flex-center p2">
	<div class="container mx-auto">
		<div class="clearfix">
			<ul>
				<li><a href="/all/technology"><button type="button" name="button">Technology</button></a></li>
				<li><a href="/all/technology"><button type="button" name="button">Space</button></a></li>
				<li><a href="/all/technology"><button type="button" name="button">Evergreen</button></a></li>
			</ul>

		</div>

	</div>
	<!-- <div class="mx-auto">
		<h1>NewsCred Reader</h1>
		<div class="logo__ibm mx-auto">
			<img src="<%= asset_path('logo-ibm.png') %>" alt="ibm logo" />
		</div>
	</div> -->
</div>
