<div class="loadview flex flex-center p2">
	<div class="mx-auto">
		<h1 style="font-size:100px;">NewsCred Reader</h1>
		<div style='width:600px;' class="logo__ibm mx-auto">
			<img src="<%= asset_path('logo-ibm.png') %>" alt="ibm logo" />
		</div>
		<h2 style="text-align:center;font-size:80px;"><a href="/home">Let's Get Started</a></h2>
	</div>
</div>