<!-- Poster View -->
<!-- <div class="loadview flex flex-center p2">
	<div class="mx-auto">
		<h1>NewsCred Reader</h1>
		<div class="logo__ibm mx-auto">
			<img src="<%= asset_path('logo-ibm.png') %>" alt="ibm logo" />
		</div>
	</div>
</div> -->

<!-- Topics View -->
<div class="topics flex flex-center p2">
	<div class="container mx-auto">
		<div class="clearfix">

			<div class="list__title line__containers clearfix">
				<hr class="mt1">
				<p class="center">Select Topics</p>
				<hr class="mb3">
			</div>
			<ul class="list-reset list__topics">
				<% @topics.each do |topic| %>
				<a href="/all/<%= topic %>"><li class="inline-block mr1"><button class="btn btn-outline mb1 blue" type="button" name="button"><%= topic.capitalize! %></button></li></a>
				<% end %>
			</ul>
		</div>

	</div>
</div>
