<!-- LoadView -->
<!-- <div class="loadview flex flex-center p2">
	<div class="mx-auto">
		<h1>NewsCred Reader</h1>
		<div class="logo__ibm mx-auto">
			<img src="<%= asset_path('logo-ibm.png') %>" alt="ibm logo" />
		</div>
	</div>
</div> -->

<!-- FeedView -->
<div class="list__title">
	<h3>Topics</h3>
</div>
<div class="feed flex flex-center p2">
	<div class="container mx-auto">
		<div class="clearfix">
			<ul class="list-reset list__topics">
				<a href="/all/technology"><li class="inline-block mr1"><button class="btn btn-outline mb1 blue" type="button" name="button">Technology</button></li></a>
				<a href="/all/technology"><li class="inline-block mr1"><button class="btn btn-outline mb1 blue" type="button" name="button">Technology</button></li></a>
				<a href="/all/technology"><li class="inline-block mr1"><button class="btn btn-outline mb1 blue" type="button" name="button">Technology</button></li></a>
			</ul>
		</div>

	</div>
</div>
