<!-- Feed View -->

<div class="feed flex flex-center p2">
	<div class="container mx-auto">

		<div class="list__title clearfix">
			<p class="right tag">In Technology</p>
		</div>

		<!-- Generate list of articles -->
		<ul class="list-reset list">
			<% @articles.each do |article| %>
			<a href="/articles/<%= article.id %>">
				<li class="clearfix px1 story__list flex flex-center">

					<h1 class="col col-8 sm-col-10 story__headline"><%= article.title %></h1>

					<div class="col col-4 sm-col-2 py1 img__thumb">
						<img class="rounded" src="<%= article.featured_image %>" alt="article img" />
					</div>
				</li>
			</a>
			<hr class="m0">
			<% end %>
		</ul>

	</div>
</div>
