<!-- Feed View -->

<div class="topics flex flex-center p2">
	<div class="container mx-auto">

		<div class="list__title clearfix">
			<h3 class="right tag">In Technology</h3>
		</div>

		<!-- Generate list of articles -->
		<ul class="list-reset list__topics">
			<% @articles.each do |article| %>

			<a href="/all/technology">
				<li class="clearfix border px1 story__list flex flex-center">

					<h1 class="col col-8 sm-col-10 story__headline"><%= article.title %></h1>

					<div class="col col-4 sm-col-2 py1 img__thumb">
						<img class="rounded" src="<%= article.featured_image %>" alt="article img" />
					</div>
				</li>
			</a>
			<hr class="mt1">
			<% end %>
		</ul>
		
	</div>
</div>
