/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 h1,h2,h3,p {
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 400;
 }

.loadview {
     height: 100vh;
     background: white;
 }

 .logo__ibm {
     width: 200px;
     height: auto;
 }

 .img__thumb {
     max-width: 150px;  //Constrained to remain inline for mobile view
     height: auto;
 }

 .list__reader a:hover {
     text-decoration: none; //Reset underline
 }

.story__list {
    min-height: 112px;
    width: 100%;
}

.story__list {
    min-height: 91px;
    width: 100%;
}

.story__thumb {
    width: 70px;
    height: auto;
}

.story__headline {
    font-size: 1rem;
}
