<!DOCTYPE html>
<html>
    <head>
        <title>NewsCred Reader</title>
        <!-- Import BASSCSS CDN for base style -->
        <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css" rel="stylesheet">
        <!-- Application CSS -->
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <!-- Load fonts via Typekit -->
        <script src="https://use.typekit.net/bcg5gct.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <%= yield %>

    </body>
</html>
